<ion-header collapse="condensed"  color="white" style="top:0px">

  

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Settings" defaultHref="/settings">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end">
      <form class="form-default" [formGroup]="edit_profile_form" (ngSubmit)="sair()">
        <ion-button type="submit">
          Done
        </ion-button>
      </form>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">

  <div class="hero hero-light-gradient">
    <ion-avatar>
      <!-- <ion-icon class="avatar-icon-placeholder" name="person-circle" color="tertiary">
      </ion-icon>-->
      <ion-img src="https://acesso.naufinance.com/nau/content/images/users/{{gs.dadosUser?.Foto.replaceAll('\'','')}}"></ion-img>
    </ion-avatar>
    <input type="file" name="ffoto" #ffoto id="ffoto" hidden
                                    (change)="selectFoto($event, 'foto')">
    <ion-button class="ion-button-small" color="primary" fill="clear" (click)="updateProfilePicture()">
      Update profile picture
    </ion-button>
  </div>

  <div class="ion-padding">

    <form class="form-default" [formGroup]="edit_profile_form" (submit)="submit()">

      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Name</ion-label>
          <ion-input formControlName="name" class="txt-nome" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="tertiary" position="stacked">E-mail</ion-label>
          <ion-input formControlName="email" class="txt-email"  placeholder="E-mail" [disabled]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="tertiary" position="stacked">Phone</ion-label>
          <ion-input formControlName="phone" class="txt-phone" id="phone"  placeholder="Phone"></ion-input>
          <!-- <ion-intl-tel-input id="phone" name="phone" class="txt-phone" formControlName="phone">
          </ion-intl-tel-input> -->
        </ion-item>
        <ion-item>
          <ion-label color="tertiary" position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password" class="txt-senha"  placeholder="Password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" type="submit" expand="block">
        Save
      </ion-button>

    </form>

  </div>

</ion-content>