<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button text="Entrar" defaultHref="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="logo-placeholder">NAU Finance</h1>
      <p>Resete sua senha.</p>
    </div>

    <form class="form-default">

      <ion-list class="item-card-list" lines="none">

        <ion-item>
          <ion-label color="tertiary" position="stacked">Email</ion-label>
          <ion-input type="email" autocomplete="off" placeholder="seu Endereço de E-mail"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" expand="block" color="primary">
        Resete a senha
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} NAU Finance</small>
      </ion-text>
    </div>

  </div>

</ion-content>