<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insights">
      <ion-icon name="pie-chart"></ion-icon>
      <ion-label>Investors</ion-label>
    </ion-tab-button>

    <!-- Placeholder for fab button -->
<!--    <ion-tab-button class="ion-tab-button-placeholder">
    </ion-tab-button>-->

    <ion-tab-button tab="payments">
      <ion-icon name="swap-horizontal"></ion-icon>
      <ion-label>Robot</ion-label>
    </ion-tab-button>

 <!--   <ion-tab-button tab="orcamento">
      <ion-icon name="card"></ion-icon>
      <ion-label>Orçamento</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>

 <!--<ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

</ion-tabs>