app-mensagens {
    //ion-header {}


    .container {

ion-item{
    background:#FFFFFF;
}
ion-list {
    margin: 10px !important;
    background: transparent !important;
}

ion-list,
ion-item {
    background: transparent !important;
}
ion-item {
    // background: #000000 !important;
    background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
    font-size: 0.8rem;

    div {
        // background: #000000 !important;
        background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
        font-size: 0.8rem;
        width: 100%;
    }
    h1{
        font-size:1.1rem;
    }
    h2{
        font-size:1.0rem;
    }
    h3{
        font-size:0.9rem;
    }
    h4{
        font-size:0.8rem;
    }
    h5{
        font-size:0.7rem;
    }
    h6{
        font-size:0.6rem;
    }
    table{
        text-align:center;
        tr{
            td:nth-child(2){
                font-size:0.8em;
                width:20%;
            }
        }
    }
}

ion-item {
    //:nth-child(n+3){
    // --background: #000000 !important;
    --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    // padding-top: 10px;
    padding-bottom: 10px;
    
}

ion-img, img{
    // float:left;
    width:20px;
    height:auto;
    position:absolute;
    left:2px;
    top:15px;
    z-index:20;

}
div.texto{
    padding-left:30px;
    top:0px;
    color : black;
    // position:absolute;
    top:0;
}
    }
}
// .mensagem{
//     width:100%;

//     div.icone{
//         float:left;
//         ion-img {
//             width: 20px;
//             height:auto;
//         }
//     }
//     div.texto{
//         float:left;
//     }
// }